<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtak om tiltak"/>
    <meta name="author" content="amt-pdfgen"/>
    <meta name="subject" content="Vedtak"/>

    {{#block 'amt/style' }}
    {{/block}}

    <title>Vedtak om tiltaksdeltakelse</title>

</head>
<body>
    <div id="footer">
        <span class="sidetall">Side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    {{> amt/sections/header}}
    <main>
        <h1>Endring: {{deltakerliste.navn}}</h1>
        <p>Du ble meldt på arbeidsmarkedstiltaket {{deltakerliste.navn}} {{iso_to_long_date this.forsteVedtakFattet}}, og deltakelsen er nå endret. Du, arrangør og NAV ser samme informasjon. </p>
        {{#each endringer}}
            <section>
                <h2>{{this.tittel}}</h2>
                {{#if this.gyldigFra}}
                    <p>Endringen gjelder fra: {{iso_to_nor_date this.gyldigFra}}</p>
                {{/if}}
                {{#if this.aarsak}}
                    <p>Årsak: {{this.aarsak}}</p>
                {{/if}}
                {{#if this.endringFraArrangor}}
                    {{#if this.sluttdatoFraArrangor}}
                        <p>Forventet sluttdato: {{iso_to_nor_date this.sluttdatoFraArrangor}}</p>
                    {{/if}}
                    <p>Endret {{iso_to_nor_date vedtaksdato}} av {{deltakerliste.arrangor.navn}}</p>
                {{/if}}
                {{#if this.sluttdato}}
                    <p>Forventet sluttdato: {{iso_to_nor_date this.sluttdato}}</p>
                {{/if}}
                {{#if this.begrunnelseFraNav}}
                    <p>NAVs begrunnelse: {{this.begrunnelseFraNav}}</p>
                {{/if}}
                {{#if this.forslagFraArrangor}}
                    <div class="forslag">
                        <p><b>Forslaget sendt  fra arrangør:</b></p>
                        <p>{{this.forslagFraArrangor.type}}</p>
                        {{#if this.forslagFraArrangor.aarsak}}
                            <p>Årsak: {{this.forslagFraArrangor.aarsak}}</p>
                        {{/if}}
                        {{#if this.forslagFraArrangor.harDeltatt}}
                            <p>Har personen deltatt? {{this.forslagFraArrangor.harDeltatt}}</p>
                        {{/if}}
                        {{#if this.forslagFraArrangor.startdato}}
                            <p>Ny oppstartsdato: {{iso_to_nor_date this.forslagFraArrangor.startdato}}</p>
                        {{/if}}
                        {{#if this.forslagFraArrangor.sluttdato}}
                            <p>Ny sluttdato: {{iso_to_nor_date this.forslagFraArrangor.sluttdato}}</p>
                        {{/if}}
                        {{#if this.forslagFraArrangor.deltakelsesmengdeTekst}}
                            <p>Ny deltakelsesmengde: {{this.forslagFraArrangor.deltakelsesmengdeTekst}}</p>
                        {{/if}}
                        <p>Begrunnelse: {{this.forslagFraArrangor.begrunnelseFraArrangor}}</p>
                    </div>
                {{/if}}
                {{#if this.bakgrunnsinformasjon}}
                    <p>{{this.bakgrunnsinformasjon}}</p>
                {{/if}}
                {{#if this.innhold.length}}
                    <p>{{deltakerliste.ledetekst}}</p>
                    {{#if this.innholdBeskrivelse}}
                        <br />
                        <p>{{this.innholdBeskrivelse}}</p>
                    {{/if}}
                    {{#unless this.innholdBeskrivelse}}
                        <ul>
                            {{#each this.innhold}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    {{/unless}}
                {{/if}}
            </section>
        {{/each}}

        {{> amt/sections/dette-er-et-vedtak}}

        <section>
            <h2>Du har rett til å klage</h2>
            <p>Du kan klage hvis du er uenig i endringer på deltakelsen. Fristen for å klage er seks uker etter du mottok informasjonen. Les mer om retten til å klage på <a href="https://www.nav.no/klage">nav.no/klage</a></p>
        </section>

        {{> amt/sections/sporsmal}}

        {{> amt/sections/avsender}}
    </main>
</body>
</html>
