<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtak om tiltak"/>
    <meta name="author" content="amt-pdfgen"/>
    <meta name="subject" content="Vedtak"/>

    {{#block 'amt/style' }}
    {{/block}}

    <title>Vedtak om tiltaksdeltakelse</title>

</head>
<body>
    <div id="footer">
        <span class="sidetall">Side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    {{> amt/header}}
    <main>
        <section>
            <h1>Endring i: {{deltakerliste.navn}}</h1>
            {{#each endringer}}
            <h2>{{this.type}}</h2>
            {{#if this.aarsak}}
                <p><strong>Årsak:</strong> {{this.aarsak}}</p>
            {{/if}}
            {{#if this.startdato}}
                <p><strong>Startdato:</strong> {{iso_to_nor_date this.startdato}}</p>
            {{/if}}
            {{#if this.sluttdato}}
                <p><strong>Sluttdato:</strong> {{iso_to_nor_date this.sluttdato}}</p>
            {{/if}}
            {{#if this.deltakelsesprosent}}
                <p>{{this.deltakelsesprosent}} %</p>
                {{#if this.dagerPerUke}}
                    <p>{{this.dagerPerUke}}</p>
                {{/if}}
            {{/if}}
            {{#if this.bakgrunnsinformasjon}}
                <p>{{this.bakgrunnsinformasjon}}</p>
            {{/if}}
            {{#if this.innhold.length}}
            <ul>
                {{#each this.innhold}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}
            {{/each}}
        </section>

        <section>
            <h2>Hva er dette?</h2>
            <p>Dette er et vedtak etter arbeidsmarkedsloven § 12 og forskrift om arbeidsmarkedstiltak kapittel {{deltakerliste.forskriftskapittel}}.</p>
        </section>

        <section>
            <h2>Du har rett til å klage</h2>
            <p>Du kan klage hvis du ikke ønsker å delta, er uenig i endringer på deltakelsen eller du ønsker et annet arbeidsmarkedstiltak. Fristen for å klage er seks uker etter du mottok informasjonen. Les mer om retten til å klage på <a href="https://www.nav.no/klage">nav.no/klage</a></p>
        </section>

        <section>
            <h2>Hva deles med arrangøren?</h2>
            <p>NAV samarbeider med {{deltakerliste.arrangor.navn}}. Arrangøren behandler opplysninger på vegne av NAV.</p>
            <ul>
                <li>Navn og kontaktinformasjonen til NAV-veilederen din</li>
                <li>Påmeldingen: Innholdet og bakgrunnsinformasjon</li>
                <li>Navn og fødselsnummer</li>
                <li>Telefonnummer og e-postadresse</li>
                {{#if deltaker.adresselinjer.length}}
                <li>Adresse</li>
                {{/if}}
            </ul>
        </section>

        {{> amt/avsender}}
    </main>
</body>
</html>
