<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtak om tiltak"/>
    <meta name="author" content="amt-pdfgen"/>
    <meta name="subject" content="Vedtak"/>

    {{#block 'amt/style' }}
    {{/block}}

    <title>Vedtak om tiltaksdeltakelse</title>

</head>
<body>
    <div id="footer">
        <span class="sidetall">Side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    {{> amt/header}}
    <main>
        <section>
            <h1>Endring: {{deltakerliste.navn}}</h1>
            <p>Du ble meldt på arbeidsmarkedstiltaket {{deltakerliste.navn}} {{iso_to_nor_date this.forsteVedtakFattet}}, og deltakelsen er nå endret. Endringen er delt med arrangør.</p>
            {{#each endringer}}
            <h2>Ny endring: {{this.type}}</h2>
            {{#if this.aarsak}}
                <p><strong>Årsak:</strong> {{this.aarsak}}</p>
            {{/if}}
            {{#if this.startdato}}
                <p><strong>Ny oppstartsdato:</strong> {{iso_to_nor_date this.startdato}}</p>
            {{/if}}
            {{#if this.sluttdato}}
                <p><strong>Ny sluttdato:</strong> {{iso_to_nor_date this.sluttdato}}</p>
            {{/if}}
            {{#if this.deltakelsesprosent}}
                <p>Ny deltakelsesprosent: {{this.deltakelsesprosent}} %</p>
                {{#if this.dagerPerUkeTekst}}
                    <p>{{this.dagerPerUkeTekst}}</p>
                {{/if}}
            {{/if}}
            {{#if this.bakgrunnsinformasjon}}
                <p>{{this.bakgrunnsinformasjon}}</p>
            {{/if}}
            {{#if this.innhold.length}}
            <p>{{deltakerliste.ledetekst}}</p>
            <ul>
                {{#each this.innhold}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}
            {{/each}}
        </section>

        {{> amt/hvaerdette}}

        <section>
            <h2>Du har rett til å klage</h2>
            <p>Du kan klage hvis du er uenig i endringer på deltakelsen. Fristen for å klage er seks uker etter du mottok informasjonen. Les mer om retten til å klage på <a href="https://www.nav.no/klage">nav.no/klage</a></p>
        </section>

        {{> amt/sporsmal}}

        {{> amt/avsender}}
    </main>
</body>
</html>
