<header>
    <div class="personalia">
        <p>{{deltaker.fornavn}} {{#if deltaker.mellomnavn}} {{deltaker.mellomnavn}} {{/if}} {{deltaker.etternavn}}</p>
        {{#each deltaker.adresselinjer}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    <img class="logo" alt="NAV logo" src="{{ image "Navlogo.png" }}"/>
</header>