<header>
    <img class="logo" alt="NAV logo" src="{{ image "Navlogo.png" }}"/>
    <div class="personalia">
        <p>{{deltaker.fornavn}} {{#if deltaker.mellomnavn}} {{deltaker.mellomnavn}} {{/if}} {{deltaker.etternavn}}</p>
        <p>Fødselsnummer: {{deltaker.personident}}</p>
    </div>
    <div class="vedtaksdato">
        <p>{{iso_to_nor_date this.vedtaksdato}}</p>
    </div>
</header>